.box {
    width: 400px;
    height: 300px;
    border: 2px solid red;
    border-radius: 20px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}